<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div id="header-right">
                <span id="criteria-caption">{{ getCriteria() }}</span>
                <button (click)="onShowCriteriaDialog()" class="fab fab-with-no-background" mat-icon-button>
                    <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
                </button>
                <button (click)="onRefreshList()" class="fab fab-with-no-background" mat-icon-button>
                    <mat-icon class="material-icons-outlined">refresh</mat-icon>
                </button>
            </div>
        </div>

        <ng-template [ngIf]="records.length > 0" [ngIfElse]="noData">
            <div id="table-wrapper">
                <p-contextMenu #contextMenu [model]="menuItems"></p-contextMenu>
                <p-table #table (onFilter)="onFilterRecords($event)" [(contextMenuSelection)]="selectedRecord" [contextMenu]="contextMenu" [scrollable]="true" [(selection)]="selectedRecords" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="code" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="no-border-bottom width-3"></th>
                            <th class="no-border-bottom width-1"></th>
                            <th class="no-border-bottom width-4" pSortableColumn="date">{{ getLabel("headerDate") }}</th>
                            <th class="no-border-bottom width-4" pSortableColumn="bookingCode">{{ getLabel("headerBookingCode") }}</th>
                            <th class="no-border-bottom width-11" pSortableColumn="destination.description">{{ getLabel("headerDestination") }}</th>
                            <th class="no-border-bottom width-8" pSortableColumn="customer.description">{{ getLabel("headerCustomer") }}</th>
                            <th class="no-border-bottom width-6" pSortableColumn="pickupPoint.description">{{ getLabel('headerPickupPoint') }}</th>
                            <th class="no-border-bottom width-1" pSortableColumn="adults">{{ getLabel('headerAdults') }}</th>
                            <th class="no-border-bottom width-1" pSortableColumn="kids">{{ getLabel('headerKids') }}</th>
                            <th class="no-border-bottom width-1" pSortableColumn="free">{{ getLabel('headerFree') }}</th>
                            <th class="no-border-bottom width-1" pSortableColumn="totalPax">{{ getLabel('headerTotal') }}</th>
                            <th class="no-border-bottom width-5" pSortableColumn="status.description">{{ getLabel('headerStatus') }}</th>
                        </tr>
                        <tr>
                            <th class="no-border-top width-3"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                            <th class="no-border-top width-1"></th>
                            <th class="no-border-top width-4"></th>
                            <th class="no-border-top width-4"><input (input)="table.filter($event.target.value, 'bookingCode', 'contains')" [value]="$any(table).filters['bookingCode']?.value" class="p-inputtext"></th>
                            <th class="no-border-top width-11">
                                <p-columnFilter [showMenu]="false" field="destination" matchMode="in">
                                    <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctDestinations" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                            <ng-template let-option pTemplate="item">
                                                <div class="p-multiselect-option">
                                                    <span>{{ option.description }}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th class="no-border-top width-8">
                                <p-columnFilter [showMenu]="false" field="customer" matchMode="in">
                                    <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctCustomers" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                            <ng-template let-option pTemplate="item">
                                                <div class="p-multiselect-option">
                                                    <span>{{ option.description }}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th class="no-border-top width-6"><input (input)="table.filter($event.target.value, 'pickupPoint', 'contains')" [value]="$any(table).filters['pickupPoint']?.value" class="p-inputtext"></th>
                            <th class="no-border-top width-1"></th>
                            <th class="no-border-top width-1"></th>
                            <th class="no-border-top width-1"></th>
                            <th class="no-border-top width-1"></th>
                            <th class="no-border-top width-5">
                                <p-columnFilter [showMenu]="false" field="status" matchMode="in">
                                    <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctStatuses" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                            <ng-template let-option pTemplate="item">
                                                <div class="p-multiselect-option">
                                                    <span>{{ option.description }}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template let-record pTemplate="body">
                        <tr (click)="onHighlightRow(record.code)" (contextmenu)="onHighlightRow(record.code)" (dblclick)="onLoadRecord(record.code)" style="height: 32px;" [attr.id]=record.code [pContextMenuRow]="record">
                            <td class="width-3"><span class="center no-overflow" style="padding-top: 0.25rem !important;"><p-tableCheckbox [value]="record"></p-tableCheckbox></span></td>
                            <td class="width-1"><span class="center no-left-padding no-overflow" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji(record.isValidPrimary) }} {{ getEmoji(record.isValidSecondary) }}</span></td>
                            <td class="width-4"><span class="center no-overflow">{{ formatDateToLocale(record.date) }}</span></td>
                            <td class="width-4"><span class="center no-overflow">{{ record.bookingCode }}</span></td>
                            <td class="width-11"><span>{{ record.destination.description }}</span></td>
                            <td class="width-8"><span>{{ record.customer.description }}</span></td>
                            <td class="width-6"><span>{{ getPickupPointDescription(record.pickupPoint) }}</span></td>
                            <td class="width-1"><span class="right with-right-padding">{{ record.adults | replaceZero }}</span></td>
                            <td class="width-1"><span class="right with-right-padding">{{ record.kids | replaceZero }}</span></td>
                            <td class="width-1"><span class="right with-right-padding">{{ record.free | replaceZero }}</span></td>
                            <td class="width-1"><span class="right with-right-padding">{{ record.totalPax }}</span></td>
                            <td class="width-5"><span>{{ record.status.description }}</span></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>

    </div>

    <div id="footer">
        <div class="filter-pill">
            <table-total-filtered-records (resetTableFilters)="onClearFilterTasks()" [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length" [selectedRecordCount]="selectedRecords.length" [mustShowSelectedFilteredCount]="true"></table-total-filtered-records>
        </div>
        <div id="align-right">
            <button (click)="onImportRecords()" class="primary" mat-flat-button>{{ getLabel("importButton") | uppercase }}</button>
        </div>
    </div>

</div>

<ng-template #noData>
    <cat-page icon="face" [header]="getLabel('noDataHeader')" [subHeader]="getLabel('noDataSubHeader')"></cat-page>
</ng-template>

<ng-template #noIcon>
    <span class="icon center orange material-symbols-outlined no-overflow"></span>
</ng-template>