<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <mat-tab-group mat-stretch-tabs="false">
                <mat-tab label="{{ getLabel('tab1') }}">
                    <div class="group-input-field">
                        <!-- Description -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('description') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="1" formControlName="description" matInput>
                            <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                            <img [src]="getFlag('gr')" class="flag">
                        </mat-form-field>
                        <!-- descriptionEn -->
                        <mat-form-field class="language-label">
                            <mat-label>{{ getLabel('description') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="2" formControlName="descriptionEn" matInput>
                            <mat-error *ngIf="descriptionEn.hasError('required')">{{ getHint("required") }}</mat-error>
                            <img [src]="getFlag('gb')" class="flag">
                        </mat-form-field>
                    </div>
                    <div class="group-input-field">
                        <!-- Tax No -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('vatNumber') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="3" formControlName="vatNumber" matInput>
                            <mat-error *ngIf="vatNumber.hasError('maxlength')">{{ getHint("maxLength", vatNumber.errors.maxlength.requiredLength) }}</mat-error>
                        </mat-form-field>
                        <!-- TaxOffice -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('taxOffice') }}</mat-label>
                            <input #inputAutoComplete #triggerTaxOffice="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="taxOffices" dataTabIndex="4" formControlName="taxOffice" matInput>
                            <div matSuffix style="display:flex">
                                <button (click)="openOrCloseAutoComplete(triggerTaxOffice, 'taxOffice')" mat-icon-button type="button">
                                    <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                                </button>
                            </div>
                            <mat-error *ngIf="taxOffice.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!taxOffice.hasError('required') && taxOffice.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="group-input-field">
                        <!-- VatPercent -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('vatPercent') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="5" formControlName="vatPercent" matInput type="number">
                            <mat-error *ngIf="vatPercent.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!vatPercent.hasError('required') && vatPercent.hasError('min') || vatPercent.hasError('max')">{{ getHint("invalidRange") }}</mat-error>
                        </mat-form-field>
                        <!-- VatPercentId -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('vatPercentId') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="6" formControlName="vatPercentId" matInput type="number">
                            <mat-error *ngIf="vatPercentId.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!vatPercentId.hasError('required') && vatPercentId.hasError('min') || vatPercentId.hasError('max')">{{ getHint("invalidRange") }}</mat-error>
                        </mat-form-field>
                        <!-- VatExemptionId -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('vatExemptionId') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="7" formControlName="vatExemptionId" matInput type="number">
                            <mat-error *ngIf="vatExemptionId.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!vatExemptionId.hasError('required') && vatExemptionId.hasError('min') || vatExemptionId.hasError('max')">{{ getHint("invalidRange") }}</mat-error>
                        </mat-form-field>
                        <!-- Branch -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('branch') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="8" formControlName="branch" matInput type="number">
                            <mat-error *ngIf="branch.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="branch.hasError('min') || branch.hasError('max')">{{ getHint("invalidRange") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- Profession -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('profession') }}</mat-label>
                        <input [inputTabStop]="input" dataTabIndex="9" formControlName="profession" matInput>
                        <mat-error *ngIf="profession.hasError('required')">{{ getHint("required") }}</mat-error>
                    </mat-form-field>
                    <div class="group-input-field">
                        <!-- Street -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('street') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="10" formControlName="street" matInput>
                        </mat-form-field>
                        <!-- Number -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('number') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="11" formControlName="number" matInput>
                        </mat-form-field>
                        <!-- City -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('city') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="12" formControlName="city" matInput>
                            <mat-error *ngIf="city.hasError('required')">{{ getHint("required") }}</mat-error>
                        </mat-form-field>
                        <!-- Postal code -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('postalCode') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="13" formControlName="postalCode" matInput>
                            <mat-error *ngIf="postalCode.hasError('required')">{{ getHint("required") }}</mat-error>
                        </mat-form-field>
                        <!-- Nationality -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('nationality') }}</mat-label>
                            <input #inputAutoComplete #triggerNationality="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="nationalities" dataTabIndex="14" formControlName="nationality" matInput>
                            <div matSuffix style="display:flex">
                                <button (click)="openOrCloseAutoComplete(triggerNationality, 'nationality')" mat-icon-button type="button">
                                    <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                                </button>
                            </div>
                            <mat-error *ngIf="nationality.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!nationality.hasError('required') && nationality.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- Active -->
                    <div class="stacked-checkboxes">
                        <mat-checkbox formControlName="isGroupJP">
                            <span>{{ getLabel("isGroupJP") }}</span>
                        </mat-checkbox>
                        <mat-checkbox formControlName="isActive">
                            <span>{{ getLabel("isActive") }}</span>
                        </mat-checkbox>
                    </div>
                </mat-tab>
                <mat-tab label="{{ getLabel('tab2') }}">
                    <!-- Person in charge -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('personInCharge') }}</mat-label>
                        <input [inputTabStop]="input" dataTabIndex="1" formControlName="personInCharge" matInput>
                    </mat-form-field>
                    <!-- Phones -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('phones') }}</mat-label>
                        <input [inputTabStop]="input" dataTabIndex="2" formControlName="phones" matInput>
                    </mat-form-field>
                    <!-- Email -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('email') }}</mat-label>
                        <input [inputTabStop]="input" dataTabIndex="3" formControlName="email" matInput>
                        <mat-error *ngIf="email.hasError('email')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                </mat-tab>
                <mat-tab label="{{ getLabel('tab3') }}">
                    <div class="group-input-field">
                        <!-- myData demo url -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('demoUrl') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="1" formControlName="myDataDemoUrl" matInput>
                        </mat-form-field>
                        <!-- myData live url -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('liveUrl') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="5" formControlName="myDataLiveUrl" matInput>
                        </mat-form-field>
                    </div>
                    <div class="group-input-field">
                        <!-- myData demo username -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('demoUsername') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="2" formControlName="myDataDemoUsername" matInput>
                        </mat-form-field>
                        <!-- myData live username -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('liveUsername') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="6" formControlName="myDataLiveUsername" matInput>
                        </mat-form-field>
                    </div>
                    <div class="group-input-field">
                        <!-- myData demo password -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('demoSubscriptionKey') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="3" formControlName="myDataDemoSubscriptionKey" matInput>
                        </mat-form-field>
                        <!-- myData live password -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('liveSubscriptionKey') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="7" formControlName="myDataLiveSubscriptionKey" matInput>
                        </mat-form-field>
                    </div>
                    <div class="stacked-checkboxes">
                        <!-- myData isActive -->
                        <mat-checkbox formControlName="myDataIsActive">
                            <span>{{ getLabel("isChannelActive") }}</span>
                        </mat-checkbox>
                        <!-- myData isDemo -->
                        <mat-checkbox formControlName="myDataIsDemo">
                            <span>{{ getLabel("isChannelDemo") }}</span>
                        </mat-checkbox>
                    </div>
                </mat-tab>
                <mat-tab label="{{ getLabel('tab4') }}">
                    <div class="group-input-field">
                        <!-- Oxygen demo url -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('demoUrl') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="1" formControlName="oxygenDemoUrl" matInput>
                        </mat-form-field>
                        <!-- Oxygen live url -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('liveUrl') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="3" formControlName="oxygenLiveUrl" matInput>
                        </mat-form-field>
                    </div>
                    <div class="group-input-field">
                        <!-- Oxygen demo Api key -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('demoSubscriptionKey') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="2" formControlName="oxygenDemoApiKey" matInput>
                        </mat-form-field>
                        <!-- Oxygen live Api Key -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('liveSubscriptionKey') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="4" formControlName="oxygenLiveApiKey" matInput>
                        </mat-form-field>
                    </div>
                    <div class="stacked-checkboxes">
                        <!-- Oxygen isActive -->
                        <mat-checkbox formControlName="oxygenIsActive">
                            <span>{{ getLabel("isChannelActive") }}</span>
                        </mat-checkbox>
                        <!-- Oxygen isDemo -->
                        <mat-checkbox formControlName="oxygenIsDemo">
                            <span>{{ getLabel("isChannelDemo") }}</span>
                        </mat-checkbox>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
            <mat-icon class="material-icons-outlined">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="primary">
            <ng-container *ngTemplateOutlet="utilityMenu"></ng-container>
        </mat-menu>
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #nationalities="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownNationalities | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #taxOffices="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownTaxOffices | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<ng-template #utilityMenu>
    <button (click)="onSearchAadeRegistry()" mat-menu-item>
        <span>{{ getLabel("searchAadeRegistry") }}</span>
    </button>
</ng-template>