<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div id="header-buttons">
                <button class="fab fab-with-no-background transparent" mat-icon-button>
                    <mat-icon [ngClass]="isEmailSent() ? 'vivid-color' : 'pale-color'" class="icon blue material-symbols-outlined">email</mat-icon>
                </button>
                <button class="fab fab-with-no-background transparent" mat-icon-button>
                    <mat-icon [ngClass]="isSubmitted() ? 'vivid-color' : 'pale-color'" class="icon green material-symbols-outlined">upload_2</mat-icon>
                </button>
                <button class="fab fab-with-no-background transparent" mat-icon-button>
                    <mat-icon [ngClass]="isCancelled() ? 'vivid-color' : 'pale-color'" class="icon orange material-symbols-outlined">upload_2</mat-icon>
                </button>
                <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
                    <mat-icon class="material-icons-outlined">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="primary" xPosition="before">
                    <ng-container *ngTemplateOutlet="actionsMenu"></ng-container>
                </mat-menu>
            </div>
        </div>

        <form [formGroup]="form" id="form">
            <div class="group-input-field">
                <!-- Issue date -->
                <mat-form-field>
                    <mat-icon class="material-icons-outlined small">lock</mat-icon>
                    <mat-label>{{ getLabel('date') }}</mat-label>
                    <input [inputTabStop]="input" [matDatepicker]="datePicker" dataTabIndex="1" formControlName="date" matInput readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="datePicker" disabled></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                    <mat-error *ngIf="date.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
                <!-- Trip date -->
                <mat-form-field>
                    <mat-label>{{ getLabel('tripDate') }}</mat-label>
                    <input [inputTabStop]="input" [matDatepicker]="tripDatePicker" dataTabIndex="2" formControlName="tripDate" matInput>
                    <mat-datepicker-toggle matIconSuffix [for]="tripDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #tripDatePicker></mat-datepicker>
                    <mat-error *ngIf="tripDate.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
                <!-- ShipOwner -->
                <mat-form-field>
                    <mat-icon *ngIf="!isEditingAllowed()" class="material-icons-outlined small">lock</mat-icon>
                    <mat-label>{{ getLabel('shipOwner') }}</mat-label>
                    <input #inputAutoComplete #triggerShipOwner="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="shipOwners" [readonly]="!isEditingAllowed()" dataTabIndex="3" formControlName="shipOwner" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerShipOwner, 'shipOwner')" [disabled]="!isEditingAllowed()" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="shipOwner.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!shipOwner.hasError('required') && shipOwner.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Customer -->
            <mat-form-field>
                <mat-label>{{ getLabel('customer') }}</mat-label>
                <input #inputAutoComplete #triggerCustomer="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="customers" dataTabIndex="4" formControlName="customer" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(triggerCustomer, 'customer')" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="customer.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!customer.hasError('required') && customer.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <div class="group-input-field">
                <!-- Document type abbreviation-->
                <mat-form-field style="width: 300px;">
                    <mat-icon *ngIf="!isEditingAllowed()" class="material-icons-outlined small">lock</mat-icon>
                    <mat-label>{{ getLabel('documentTypeAbbreviation') }}</mat-label>
                    <input #inputAutoComplete #triggerDocumentType="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="documentTypes" [readonly]="!isEditingAllowed()" dataTabIndex="5" formControlName="documentType" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerDocumentType, 'documentType')" [disabled]="!isEditingAllowed()" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="documentType.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!documentType.hasError('required') && documentType.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
                <!-- Document type description -->
                <mat-form-field>
                    <mat-icon class="material-icons-outlined small">lock</mat-icon>
                    <mat-label>{{ getLabel('documentTypeDescription') }}</mat-label>
                    <input formControlName="documentTypeDescription" matInput readonly>
                </mat-form-field>
                <!-- Batch -->
                <mat-form-field style="width: 300px;">
                    <mat-icon class="material-icons-outlined small">lock</mat-icon>
                    <mat-label>{{ getLabel('batch') }}</mat-label>
                    <input class="right" formControlName="batch" matInput readonly>
                </mat-form-field>
                <!-- No -->
                <mat-form-field style="width: 300px;">
                    <mat-icon class="material-icons-outlined small">lock</mat-icon>
                    <mat-label>{{ getLabel('no') }}</mat-label>
                    <input class="right" formControlName="invoiceNo" matInput readonly>
                </mat-form-field>
            </div>
            <div class="group-input-field">
                <div style="flex-basis: 20%;">
                    <!-- Gross Amount -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('grossAmount') }}</mat-label>
                        <input [inputTabStop]="input" currencyMask dataTabIndex="6" formControlName="grossAmount" matInput>
                        <mat-error *ngIf="grossAmount.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!grossAmount.hasError('required') && grossAmount.hasError('min') || grossAmount.hasError('max')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                </div>
                <!-- Payment method -->
                <div style="flex-basis: 80%;">
                    <mat-form-field>
                        <mat-label>{{ getLabel('paymentMethod') }}</mat-label>
                        <input #inputAutoComplete #triggerPaymentMethod="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="paymentMethods" dataTabIndex="7" formControlName="paymentMethod" matInput>
                        <div matSuffix style="display:flex">
                            <button (click)="openOrCloseAutoComplete(triggerPaymentMethod, 'paymentMethod')" mat-icon-button type="button">
                                <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                            </button>
                        </div>
                        <mat-error *ngIf="paymentMethod.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!paymentMethod.hasError('required') && paymentMethod.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- Remarks -->
            <mat-form-field>
                <mat-label>{{ getLabel("remarks") }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="8" formControlName="remarks" matInput>
            </mat-form-field>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <button (click)="onShowFormValue()" class="fab fab-with-no-background" mat-icon-button>
            <span class="material-icons-outlined">pest_control</span>
        </button>
        <div id="align-right">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #customers="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #shipOwners="matAutocomplete" (optionSelected)="updateFieldsAfterShipOwnerSelection($event.option.value)" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownShipOwners | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #documentTypes="matAutocomplete" (optionSelected)="updateFieldsAfterDocumentTypeSelection($event.option.value)" [displayWith]="autocompleteFields.bind(this, 'abbreviation')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDocumentTypes | async" [value]="option">
        <div class="autocomplete-document-type">
            <span>{{ option.abbreviation }}</span>
            <span>{{ option.batch }}</span>
        </div>
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #paymentMethods="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPaymentMethods | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<ng-template #actionsMenu>
    <button (click)="onCreateAndOpenPdf()" mat-menu-item>
        <span>{{ getLabel('printInvoice') }}</span>
    </button>
    <button (click)="onCancelInvoice()" mat-menu-item>
        <span>{{ getLabel('cancelInvoice') }}</span>
    </button>
</ng-template>