<div id="content">

    <div id="header">
        <div id="step-caption">
            <span class="material-symbols-outlined step-number">counter_4</span>
            <span class="step-header">{{ getLabel("step-7-header") }}</span>
        </div>
        <div style="text-align: center;" class="main-header">
            <span>{{ getLabel("completion-description") }}</span>
            <br>
            <br>
            <span>{{ getLabel("completion-thank-you") }}</span>
        </div>
    </div>

    <div id="footer">
        <button (click)="ok()" class="accent" mat-flat-button>
            <span>{{ getLabel("ok") }}</span>
        </button>
    </div>

</div>