<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <mat-tab-group mat-stretch-tabs="false">
                <mat-tab label="{{ getLabel('tab1') }}">
                    <div class="group-input-field">
                        <!-- ShipOwner -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('shipOwner') }}</mat-label>
                            <input #inputAutoComplete #triggerShipOwner="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="shipOwners" dataTabIndex="1" formControlName="shipOwner" matInput>
                            <div matSuffix style="display:flex">
                                <button (click)="openOrCloseAutoComplete(triggerShip, 'shipOwner')" mat-icon-button type="button">
                                    <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                                </button>
                            </div>
                            <mat-error *ngIf="shipOwner.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!shipOwner.hasError('required') && shipOwner.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                        <!-- Ship -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('ship') }}</mat-label>
                            <input #inputAutoComplete #triggerShip="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="ships" dataTabIndex="2" formControlName="ship" matInput>
                            <div matSuffix style="display:flex">
                                <button (click)="openOrCloseAutoComplete(triggerShip, 'ship')" mat-icon-button type="button">
                                    <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                                </button>
                            </div>
                            <mat-error *ngIf="ship.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!ship.hasError('required') && ship.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="group-input-field">
                        <!-- Abbreviation -->
                        <mat-form-field style="width: 40%;">
                            <mat-label>{{ getLabel('abbreviation') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="3" formControlName="abbreviation" matInput>
                            <mat-error *ngIf="abbreviation.hasError('required')">{{ getHint("required") }}</mat-error>
                            <img [src]="getFlag('gr')" class="flag">
                        </mat-form-field>
                        <!-- AbbreviationEn -->
                        <mat-form-field style="width: 40%;">
                            <mat-label>{{ getLabel('abbreviation') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="4" formControlName="abbreviationEn" matInput>
                            <mat-error *ngIf="abbreviationEn.hasError('required')">{{ getHint("required") }}</mat-error>
                            <img [src]="getFlag('gb')" class="flag">
                        </mat-form-field>
                        <!-- Description -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('description') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="5" formControlName="description" matInput>
                            <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                        </mat-form-field>
                        <!-- Batch -->
                        <mat-form-field style="width:40%;">
                            <mat-label>{{ getLabel('batch') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="6" formControlName="batch" matInput>
                            <mat-error *ngIf="batch.hasError('required')">{{ getHint("required") }}</mat-error>
                            <img [src]="getFlag('gr')" class="flag">
                        </mat-form-field>
                        <!-- batchEn -->
                        <mat-form-field style="width:40%;">
                            <mat-label>{{ getLabel('batch') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="7" formControlName="batchEn" matInput>
                            <mat-error *ngIf="batchEn.hasError('required')">{{ getHint("required") }}</mat-error>
                            <img [src]="getFlag('gb')" class="flag">
                        </mat-form-field>
                    </div>
                    <div class="group-input-field">
                        <!-- Customers -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('customers') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="8" formControlName="customers" matInput>
                            <mat-error *ngIf="customers.hasError('shouldBeEmptyPlusOrMinus')">{{ getHint("shouldBeEmptyPlusOrMinus") }}</mat-error>
                        </mat-form-field>
                        <!-- Suppliers -->
                        <mat-form-field>
                            <mat-label>{{ getLabel('suppliers') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="9" formControlName="suppliers" matInput>
                            <mat-error *ngIf="suppliers.hasError('shouldBeEmptyPlusOrMinus')">{{ getHint("shouldBeEmptyPlusOrMinus") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="stacked-checkboxes">
                        <div class="stacked-checkboxes">
                            <!-- Discriminator -->
                            <mat-radio-group formControlName="discriminatorId">
                                <mat-radio-button value=1>{{ getLabel("refersToInvoice") }}</mat-radio-button>
                                <mat-radio-button value=2>{{ getLabel("refersToReceipt") }}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="stacked-checkboxes">
                            <!-- Default -->
                            <mat-checkbox formControlName="isDefault">
                                <span>{{ getLabel("isDefault") }}</span>
                            </mat-checkbox>
                            <!-- Active -->
                            <mat-checkbox formControlName="isActive">
                                <span>{{ getLabel("isActive") }}</span>
                            </mat-checkbox>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{ getLabel('tab2') }}">
                    <!-- Table8_1 -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('table8_1') }}</mat-label>
                        <input [inputTabStop]="input" dataTabIndex="1" formControlName="table8_1" matInput>
                        <mat-error *ngIf="table8_1.hasError('required')">{{ getHint("required") }}</mat-error>
                    </mat-form-field>
                    <!-- Table8_8 -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('table8_8') }}</mat-label>
                        <input [inputTabStop]="input" dataTabIndex="2" formControlName="table8_8" matInput>
                        <mat-error *ngIf="table8_8.hasError('required')">{{ getHint("required") }}</mat-error>
                    </mat-form-field>
                    <!-- Table8_9 -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('table8_9') }}</mat-label>
                        <input [inputTabStop]="input" dataTabIndex="3" formControlName="table8_9" matInput>
                        <mat-error *ngIf="table8_9.hasError('required')">{{ getHint("required") }}</mat-error>
                    </mat-form-field>
                    <div class="stacked-checkboxes">
                        <!-- myData -->
                        <mat-checkbox formControlName="isMyData">
                            <span>{{ getLabel("isMyData") }}</span>
                        </mat-checkbox>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #shipOwners="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownShipOwners | async" [value]="option">
        <span *ngIf="option.isActive; else showGhost">{{ getEmojiForActiveRecord(true) }}</span>
        <span>{{ option.description }}</span>
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ships="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownShips | async" [value]="option">
        <span *ngIf="option.isActive; else showGhost">{{ getEmojiForActiveRecord(true) }}</span>
        <span>{{ option.description }}</span>
    </mat-option>
</mat-autocomplete>

<ng-template #showGhost>
    <span>{{ getEmojiForActiveRecord(false) }}</span>
</ng-template>