@model API.Features.Sales.Invoices.EmailInvoiceTemplateVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="wrapper">
        <p style="font-family: Tahoma; font-size: 13px;">👋 Αγαπητοί συνεργάτες,</p>
        <div style="font-family: Tahoma; font-size: 13px;">Σας έχουμε αποστείλει ηλεκτρονικά παραστατικά μέσω της υπηρεσίας e-invoices της Corfu Cruises, τα οποία επισυνάπτουμε στο παρόν e-mail.</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">Ευχαριστούμε για τη συνεργασία,</div>
        <div style="font-family: Tahoma; font-size: 13px;">η ομάδα της Corfu Cruises</div>
        <p></p>
        <p></p>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">τηλέφωνο επικοινωνίας: +30 26610 71150</div>
        <div style="font-family: Tahoma; font-size: 13px;">email: corfucruises.com@gmail.com</div>
        <div style="font-family: Tahoma; font-size: 13px;">website: www.corfucruises.com</div>
        <div style="font-family: Tahoma; font-size: 13px;">web application: www.appcorfucruises.com</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">🚫 Σας παρακαλούμε μην απαντάτε σε αυτό το email.</div>
    </div>
</body>

</html>