@model API.Features.Sales.Ledgers.EmailLedgerTemplateVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="wrapper" style="max-width: 600px;">
        <p style="font-family: Tahoma; font-size: 13px;">👋 Αγαπητοί συνεργάτες,</p>
        <div style="font-family: Tahoma; font-size: 13px;">Σας έχουμε αποστείλει τη λογιστική καρτέλα σας μέσω της υπηρεσίας</div>
        <div style="font-family: Tahoma; font-size: 13px;">e-invoicing της Corfu Cruises, την οποία επισυνάπτουμε στο παρόν e-mail.</div>
        <p> </p>
        <div style="font-family: Tahoma; font-size: 13px;">Ευχαριστούμε για τη συνεργασία,</div>
        <div style="font-family: Tahoma; font-size: 13px;">Η ομάδα της Corfu Cruises</div>
        <div style="font-family: Tahoma; font-size: 13px;">+30 26610 71150</div>
        <div style="font-family: Tahoma; font-size: 13px;">corfucruises.com@gmail.com</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">www.corfucruises.com</div>
        <div style="font-family: Tahoma; font-size: 13px;">www.appcorfucruises.com</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">🚫 Σας παρακαλούμε μην απαντάτε σε αυτό το email.</div>
    </div>
</body>

</html>