@model API.Infrastructure.Account.ForgotPasswordResponseVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="wrapper">
        <p style="font-family: Tahoma; font-size: 13px;">👋 Γεια σας, @Model.Displayname</p>
        <div style="font-family: Tahoma; font-size: 13px;">Λαμβάνετε αυτό το μήνυμα ηλεκτρονικού ταχυδρομείου επειδή κάποιος (ελπίζουμε εσείς) ζήτησε να ορίσετε έναν νέο κωδικό για τον λογαριασμό σας. Εάν δεν είσασταν εσείς, μπορείτε να αγνοήσετε αυτό το email.</div>
        <div style="font-family: Tahoma; font-size: 13px;">Ωστόσο, αν θέλετε να συνεχίσετε και να ορίσετε νέο κωδικό, κάντε κλικ στον παρακάτω σύνδεσμο.</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px; text-decoration: none !important;"><a class="primary" href="@Model.ReturnUrl">Ορισμός νέου κωδικού</a></div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">⚠️ Αυτό το email θα λήξει μετά από πέντε λεπτά ή μετά την επιτυχή αποθήκευση του νέου κωδικού.</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">Ευχαριστούμε για τη συνεργασία,</div>
        <div style="font-family: Tahoma; font-size: 13px;">η ομάδα της Corfu Cruises</div>
        <p> </p>
        <p> </p>
        <div style="font-family: Tahoma; font-size: 13px;">τηλέφωνο επικοινωνίας: +30 26610 71150</div>
        <div style="font-family: Tahoma; font-size: 13px;">email: corfucruises.com@gmail.com</div>
        <div style="font-family: Tahoma; font-size: 13px;">website: www.corfucruises.com</div>
        <div style="font-family: Tahoma; font-size: 13px;">web application: www.appcorfucruises.com</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">🚫 Σας παρακαλούμε μην απαντάτε σε αυτό το email.</div>
    </div>
</body>

</html>