* {
    --color-background: #2b2a33;
    --color-button-fab-hover: #4b4b4b;
    --color-calendar-day: #7BB7DD;
    --color-dialog-areas-seperator: #858585;
    --color-dialog-background: #6b6b6b;
    --color-flag-border: #ffffff;
    --color-input-background: #42414d;
    --color-input-error: #ff7878;
    --color-logo: #fee6c0;
    --color-menu-background: #3f3f49;
    --color-secondary: #7BB7DD;
    --color-table-row-percentage: #b5838d;
    --color-text: #ffffff;
    --color-transparent-button-hover: #5d5d5d;
    --color-transparent-button: #ffffff;
    --color-tab-active: #ffa5001f;
    --color-table-header-footer: #44392e;
}