.mat-divider {
    background-color: color-mix(in srgb, var(--color-border) 50%, transparent) !important;
}

#shortcuts-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto 0 auto 0;
    row-gap: 2rem;
}

img {
    height: 1.25rem;
}

img:hover {
    cursor: pointer;
}
