<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <date-picker-pill [parentDate]="form.value.date" (outputValue)="patchFormWithSelectedDate($event)"></date-picker-pill>
        </div>

        <div id="form-wrapper">
            <form [formGroup]="form" id="form">
                <div class="group-input-field">
                    <criteria-fieldset-radios (outputSelected)="patchFormWithSelectedArrays($event,'selectedDestinations')" [array]="destinationsCriteria" [caption]="'destinations'" [feature]="feature" [selected]="selectedDestinations"></criteria-fieldset-radios>
                    <criteria-fieldset-radios (outputSelected)="patchFormWithSelectedArrays($event,'selectedPorts')" [array]="portsCriteria" [caption]="'ports'" [feature]="feature" [selected]="selectedPorts"></criteria-fieldset-radios>
                    <criteria-fieldset-radios (outputSelected)="patchFormWithSelectedArrays($event,'selectedShips')" [array]="shipsCriteria" [caption]="'ships'" [feature]="feature" [selected]="selectedShips"></criteria-fieldset-radios>
                </div>
            </form>
        </div>

    </div>

    <div id="footer">
        <button (click)="onShowFormValue()" class="fab fab-with-no-background" mat-icon-button>
            <span class="material-icons-outlined">pest_control</span>
        </button>
        <div id="align-right">
            <button (click)="doTasks()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("searchButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>